# Copy and retitle this file to .env - Fill in with appropriate information

TWILIO_ACCOUNT_SID='AC-------------------------------'
TWILIO_AUTH_TOKEN='----------------------------------'

TWILIO_NUMBER='+1XXXXXXXXXX'
LOCAL_PHONE='XXXXXXXXXX'

PURPLEAIR_API_TOKEN='--------------------------------'

REDCAP_TOKEN_SIGNUP='----------------------------------'
REDCAP_TOKEN_REPORT='----------------------------------'

DB_NAME='---------'
DB_USER='---------'
DB_PASS='---------'
DB_PORT='PROBABLY_5432'
DB_HOST='IP_ADDRESS'
