**/.ipynb_checkpoints/*
Data/*
Notebooks/2_Alerts/Text_Alert_scratch.ipynb
Scripts/database/db_credentials.txt
*/twilio.env
*.env
**/__pycache__
Scripts/database/*up.sql
*.DS_Store
*.cpython-310.pyc 
Notebooks/1_Initialize_Database/City_Comparisons/*
**test.txt
